<h1>Student Management System</h1>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>