*{
  margin: 0;
  padding: 0;
}

html{
   background-color: white; 
}
h1 {color: blue;}

body{
    height: 10400px;
    width: 700px;
    margin: 0 auto;
}

table{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-collapse: collapse;
}

table tbody td{
  padding: 5px;
}

table thead td {
 padding: 5px;
 background-color: lightgreen;
 font-weight: bold;
}

table tbody tr:nth-child(even){
    background-color:rgb(204, 229, 245);
}

.edit,.delete{
    text-decoration: none;
    color: white;
    display: block;
    width: 45px;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    background-color: blueviolet;
}

.delete{
    background-color: red;
}